<td><%= link_to 'Show', show_admin_enrollment_path(educable, educable_type: educable.class) %></td>
<td><%= link_to 'Assign', new_admin_enrollment_path(educable, educable_type: educable.class) %></td>
<td><%= link_to 'Edit', edit_admin_enrollment_path(educable, educable_type: educable.class) %></td>